@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.sidebar-header img {
  max-height: 1.5rem;
  width: 100%;
  max-width: fit-content !important;
}
